
# Build config
/build.conf
/.idea

# Prerequisites
*.d

# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Executables
/src/main_cli
/src/main_tui

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

#Test
/test/test_main
/test/test_main2
/test/test_log
/test/test_log_cxx
/test/customfile.log
/test/newlogfile.log
/test/orca.log
/src/orca.log
